{% for resource in resources %}
resource "aws_s3_bucket" "{{ resource.logical_name }}" {
  bucket = "{{ resource.attributes.bucket }}"
{% if resource.attributes.get('tags') %}
  tags = {
{% for k, v in resource.attributes.tags.items() %}
    "{{ k }}" = "{{ v }}"
{% endfor %}
  }
{% endif %}
}
{% endfor %}
